body {
  justify-content: center;
}

h1 {
  font-family: 'Silkscreen';
  font-weight: 700;
  font-size: 2.5em;
}

#app {
  display: block;
  width: 600px;
  margin: 100px auto;
}

.ranking {
  font-family: 'Silkscreen';
  font-weight: 300;
  font-size: 1.5em;
}

#banner {
  width: 200px;
  display: block;
  margin: 0 auto;
}

#output {
  margin-top: 20px;
  display: block;
}

#match_values {
  height: 20px;
  margin-top: 20px;
}

#submit {
  margin-top: 20px;
  height: 25px;
  margin-left: 7px;
}